#header{
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 30px;
  align-items: center; 
  background: white;
  height: 60px;
  font-size: 13px;
  color: #404040;
}
#header-links{
  text-decoration: none;
  margin-right: 15px;
  color: #404040;
}
#header-links:hover{
  text-decoration: underline;
}
#flexHeader2{
  display: flex;
  align-items: center;
}
#icon-header{
  height: 15px;
  margin-right: 18px;
}
#avatar-header{
  height: 30px;
  border-radius: 50px;
}
#body{
  background: white;
  text-align: center;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
#logo{
  margin-top: 95px;
  margin-bottom: 20px;
}
#input-flex{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-left: 380px;
  margin-right: 380px;
  height: 45px;
  border-radius: 50px;
  border: solid 1px #e6e6e6;
}
#input-flex:hover{
  box-shadow: 1px 0.5px 1px 1px #d9d9d9;
}
#lupe{
  width: 20px;
  margin-left: 15px;
}
#field{
  background: white;
  margin-right: 35px;
  width: 520px;
  border-style: none;
  height: 30px;
  font-size: 14px;
}
#button{
  margin-top: 30px;
  font-size: 14px;
  color: #666666;
  font-family: Arial, sans-serif;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: #f2f2f2;
  border: none;
}
#button:hover{
  border: solid 1px #b3b3b3;
  color: black;
}
#footer{
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #f2f2f2;
}
#footer-flex{
  display: flex;
  flex-flow: column;
}
#footerBar1{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 30px;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  height: 40px;
  font-size: 15px;
  color: #666666;
}
#footerBar2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color: #666666;
}
#footer-links{
  text-decoration: none;
  color: #666666;
  margin-right: 23px;
}
#footer-links:hover{
  text-decoration: underline;
}
